img.profile{
	float:left;
	margin:0px 20px 10px 0px;
  margin-top:40px;
}
.right-cont{
	margin-left:220px;
}

.post-head{
	padding:20px; 
	background:#eee;	
	border-radius:5px;
}

.read-more{
	margin-left:220px;
	color:white;
}


a.demo{
  height:50px;
  width:120px;
  background-color:#81C3D1;
  display:table-cell;
  border-radius:10px;
  text-align:center;
  vertical-align:middle;
  color:black;
  font-weight:bold;
  font-size:1.2em;
  text-decoration:none;
  box-shadow:3px 5px 5px #888;
  
}
a.demo:hover{
  color:white;
  box-shadow:3px 5px 5px #fff;
}