/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; 
}

.post-title{
  font-size:24px;
}

/*** Custom Styles for the blog ***/
.card{     
    border-radius: 200px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.1);
    margin: 40px  auto;
    padding: 50px 20px 50px 20px;
    width: 464px;
    overflow: auto;
}
.card .picture{
    border: 12px solid #eee;
    border-radius: 220px;
    float: left;
    height: 130px;
    width: 130px;
    margin-left:55px;
}
.card .heading-container{
    float: left;
    margin-bottom: 20px;
    margin-left: 13px;
    margin-top:25px;
}
.card .input-block{
        background-color: #F3F2F0;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    color: #5C5858;
    font-size: 20px;
    height: 27px;
    line-height: 30px;
    margin-top: 4px;
    padding: 10px 20px;
}
.card .desc{
    color: #5C5857;
    font-size: 23px;
    font-weight: normal;
    height: 29px;
    line-height: 29px;
    width: 215px;
}
.post-info{
  margin:20px 0px;
}

.post-info a.post-title{
    color: #0088CC;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: all;
}
.post-info a.post-title:hover{
    color: #3b5998;
}
.post-info a{
  color:#3b5998;
}

.card a.logo{
 
  overflow: hidden;
}
.card a.logo span {
  display: block;
  transition-property: all;
  transition-duration: .8s;
}
.card a.logo:hover img {
   transition-property: all;
  transition-duration: .8s;
  border-color:#B2B2B2;
}


/******Custom styles for blog ends  ****/
